body {
    margin: 10%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
    margin-left: 50px;
    margin-bottom: 50px;
    float: right;
}

h1 {
    width: 50%;
}

em {
    color: gray
}

h1 {
    color: brown
}