.container {
    margin: 10px;
    /* Antaa marginaalia 10px kaikille neljälle arvolle (top, right, left, bottom) */
    margin: 10px 5px 15px;
    /* Ylämarginaali on 10px, alamarginaali 15px, oikea- sekä vasen marginaali 5px */
    margin: 10px 5px;
    /* Ylä- ja alamarginaalit ovat 10px, oikea sekä vasen 5px */
    margin: 10px 5px 15px 20px;
    /* Ylämarginaali on 10px, oikea marginaali on 5px, alamarginaali 15px ja vasen marginaali 20px */
    margin-top: 10px;
    /* Antaa vain ylämarginaalia 10px */
    margin-right: 10px;
    /* Antaa vain oikeaa marginaalia 10px */
    margin-left: 10px;
    /* Antaa vain vasenta marginaalia 10px */
    margin-bottom: 10px;
    /* Antaa vain alamarginaalia 10px */
}

.first-box-container {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: red;
}

.second-box-container {
    display: inline-block;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.third-box-container {
    display: inline-block;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    background-color: green;
}